{
    "arrowParens": "always",
    "bracketSpacing": true,
    "parser": "typescript",
    "printWidth": 80,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all"
}